<section id="request">
    <form action"/" method="post">
        <input type="text" name="saqurl" placeholder="SAQ URL&hellip;">
        <input type="text" name="ammount" placeholder="full, partial, or empty?&hellip;">
        <input type="submit" value="Add your booze">
    </form>
</section>
